@page "/UserDelete/{UserId}"

<h2>Delete User</h2>
<hr />
<h3>Are you sure want to delete this?</h3>
<form>
    <div class="row">
        <div class=" col-md-8">
            <div class="form-group">
                <label>User Id:</label>
                <label>@obj.UserId</label>
            </div>
            <div class="form-group">
                <label>User First Name:</label>
                <label>@obj.FirstName</label>
            </div>
            <div class="form-group">
                <label>User Last Name:</label>
                <label>@obj.LastName</label>
            </div>
            <div class="form-group">
                <label>User Email:</label>
                <label>@obj.Email</label>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-danger" @onclick="@UserDelete" value="Delete" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>