@page "/userdetail/{UserId}"



<section class="user-detail">
    <h1 class="page-title">Details for @User.FirstName @User.LastName</h1>



    <div class="col-12 row">
        <div class="col-2">
            <img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{User.UserId}.jpg")" class="img-responsive rounded-circle user-detail-img" />
        </div>
    <div class="col-10 row">
        <div class="col-xs-12 col-sm-8">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">user ID</label>
                <div class="col-sm-8">
                    <label type="text" class="form-control-plaintext">@User.UserId</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">First name</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@User.FirstName</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Last name</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@User.LastName</label>
                </div>
            </div>

        </div>
    </div>
    </div>
</section>