@page "/Customers"
@using DataAccess.Models
@using TicketsApp.Services
@inject IJSRuntime JSRuntime
@namespace TicketsApp.Pages.Customer



<h3 style="color: #2163ac" class="PageHeader"> Customers</h3>

<div class="GridActions">
    <DxButton RenderStyle="ButtonRenderStyle.Dark" @onclick="RefreshGrid" RenderStyleMode="ButtonRenderStyleMode.Outline" Text="Refresh" SizeMode="@SizeMode.Small" IconCssClass="undo" style="margin: 0.5em;" />

</div>

    <DxDataGrid Data="@Customerslist"
                KeyFieldName="CustomerId"
                DataNavigationMode="DataGridNavigationMode.VirtualScrolling"
                PopupEditFormHeaderText="Add/Edit Customer"
                PopupEditFormCssClass="my-style"
                PageSize="25"
                ShowFilterRow="true"
                ShowGroupPanel="true"
                ShowPager="true"
                PagerNavigationMode="PagerNavigationMode.InputBox"
                PagerPageSizeSelectorVisible="true"
                VerticalScrollableHeight="400"
                VerticalScrollBarMode="ScrollBarMode.Auto"
                RowRemoving="@((dataItem) => OnRowRemoving(dataItem))"
                RowInserting="@((newValues) => OnRowInserting(newValues))"
                RowUpdating="@((updatingDataItem, newValues) => OnRowUpdating(updatingDataItem, newValues))"
                CssClass="mw-1100"
                HorizontalScrollBarMode="ScrollBarMode.Visible"
                EditMode="DataGridEditMode.PopupEditForm">
        <Columns>
            <DxDataGridCommandColumn Width="120px"></DxDataGridCommandColumn>
            <DxDataGridColumn Width="80px" Field="CustomerId" Visible="true" EditorVisible="false" Caption="Id" />
            <DxDataGridColumn Width="150px" Field="CustomerName" Caption="Customer Name" />
            @*<DxDataGridComboBoxColumn Width="180px" Field="@nameof(User.UserId)"
                                      Caption="User"
                                      Data="@Userslist"
                                      TextFieldName="@nameof(User.UserName)"
                                      ValueFieldName="@nameof(User.UserId)">
                <EditTemplate>
                    <DxComboBox Data="@Userslist"
                                ListRenderMode="ListRenderMode.Virtual"
                                FilteringMode="DataGridFilteringMode.Contains"
                                ClearButtonDisplayMode="@DataEditorClearButtonDisplayMode.Auto"
                                TextFieldName="@nameof(User.UserName)"
                                ValueFieldName="@nameof(User.UserId)"
                                SelectedItemChanged="@(newCellValue => ((CellEditContext)context).OnChanged(newCellValue.UserId))"
                                Value="@(((CellEditContext)context).CellValue)">
                        <DxListEditorColumn FieldName="UserId" />
                        <DxListEditorColumn FieldName="UserName" />
                    </DxComboBox>
                </EditTemplate>
            </DxDataGridComboBoxColumn>*@

            <DxDataGridColumn Width="120px" Field="Telephone" Caption="Telephone" />
            <DxDataGridColumn Width="120px" Field="Courriel" Caption="Courriel" />
            <DxDataGridColumn Width="120px" Field="Mobile" Caption="Mobile" />
            <DxDataGridColumn Width="120px" Field="SiteWeb" Caption="SiteWeb" />
            <DxDataGridColumn Width="120px" Field="PosteOccupe" Caption="Poste Occupe" />
            <DxDataGridSpinEditColumn Width="120px" Field="ReferenceInterne" Caption="Reference Interne" />
            <DxDataGridColumn Width="120px" Field="TVA" Caption="TVA" />
        </Columns>
    </DxDataGrid>


    <style>
        .closePassPop {
            position: absolute;
            bottom: -50px;
            height: 32px;
            font-size: 14px;
            line-height: 13px;
            right: 90px;
        }

        .passInput {
            padding: 0;
        }

        .RolePopup {
            max-width: 50% !important;
        }

        a.close-button {
            float: right;
            right: 10px;
        }

        .custom-header {
            height: 45px;
            padding: 10px;
        }

        .RolePopup .row {
            height: 50px;
        }

        .editPassBtn {
            font-size: 14px;
            height: 30px;
        }

        .my-style {
            min-width: 80%;
            vertical-align: middle;
        }
    </style>
