@page "/AddTicket"
<h2>Add Ticket</h2>


<form>
    <div class="row">
        <div class="col-md-8">
            <label for="Customer" class="control-label">Customer</label>
            <InputSelect id="Customer" @bind-Value="obj.Customer">
                @foreach (var item in Customers)
                {
                    <option value="@item.CustomerName">@item.CustomerName</option>
                }
            </InputSelect>
        </div>
        <div class="col-md-8">
            <label for="user" class="control-label">User</label>
            <InputSelect id="user" @bind-Value="obj.User">
                @foreach (var item in Users)
                {
                    <option value="@item.FirstName">@item.FirstName</option>
                }
            </InputSelect>
        </div>
        <div class="col-md-8">
            <label for="tickettype" class="control-label">User</label>
            <InputSelect id="tickettype" @bind-Value="obj.TicketType">
                @foreach (var item in Customers)
                {
                    <option value="@item.CustomerName">@item.CustomerName</option>
                }
            </InputSelect>
        </div>
        <div class="col-md-8">
            <label for="priorite" class="control-label">Priorite</label>
            <InputSelect id="priorite" @bind-Value="obj.Priorite">
                <option value="@(obj.Priorite == DataAccess.Models.Priorite.Faible)"></option>
                <option value="@(obj.Priorite == DataAccess.Models.Priorite.Elevee)"></option>
                <option value="@(obj.Priorite == DataAccess.Models.Priorite.Moyenne)"></option>
                <option value="@(obj.Priorite == DataAccess.Models.Priorite.Urgente)"></option>
            </InputSelect>
        </div>


    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateTicket" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>