@page "/Tickets"
@using DataAccess.Models
@using TicketsApp.Services

<NavLink class="nav-link" href="AddTicket">
    <span class=" btn btn-primary" aria-hidden="true">Add New</span>

</NavLink>

<h1>All Tickets</h1>
@if (EmpObj is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Ticket Id</th>
            <th>Ticket Customer Name</th>
            <th>Ticket Date</th>
            <th>Ticket Date de resoudre</th>
        </tr>
        </thead>
        <tbody>
        @foreach(var ticket in EmpObj)
        {
            <tr>
                <td>@ticket.TicketId</td>
                <td>@ticket.Customer.CustomerName</td>
                <td>@ticket.Priorite</td>
                <td>@ticket.Date</td>
                <td>@ticket.DateDeResoudre</td>
                <td></td>
                <td>
                    <a class="nav-link" href="EditTicket/@ticket.TicketId">
                        <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                    </a>
                    <a class="nav-link" href="TicketDelete/@ticket.TicketId">
                        <span class="oi oi-trash" aria-hidden="true">Delete</span>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}